[submodule "Library/Mobile Documents/com~apple~CloudDocs/SDSU_2024/Intro-sw-dev/projects-folder/PracticeArrayIterators/Library/Mobile Documents/com~apple~CloudDocs/SDSU_2024/Intro-sw-dev/projects-folder/PracticeArrayIterators/aisd-jse-08-array-of-objects-iterator"]
	path = Library/Mobile Documents/com~apple~CloudDocs/SDSU_2024/Intro-sw-dev/projects-folder/PracticeArrayIterators/Library/Mobile Documents/com~apple~CloudDocs/SDSU_2024/Intro-sw-dev/projects-folder/PracticeArrayIterators/aisd-jse-08-array-of-objects-iterator
	url = https://github.com/tajammalw/aiad-jse-8-using-objects-in-functions.git
